*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 20px;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: #e8ebf1;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header__logo .logo {
    color: #000;
    font-size: 50px;
    font-weight: 900;
}

.header__logo .logo span {
    font-weight: 400;
    color: #2aacc8;
}

.header__menu {
    margin-right: 20px;
}

.header__menu li+li {
    margin-left: 50px;
}

.header__menu a {
    font-family: 'Arial' sans-serif;
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
}

.drop-down__list {
    display: none;
    z-index: 9;
    position: absolute;
    width: 200px;
    background-color: #fff;
    border: 1px solid rgb(232, 235, 241);
    border-top: none;
    border-bottom: 5px solid #2aacc8;
    box-shadow: 0px 5px 0px 0px rgba(42, 172, 200, 0.004);
    padding: 10px 5px;
}

.drop-down__list a {
    padding: 12px 0 12px 11px;
    font-weight: 400;
    transition: all .3s;
    text-transform: none;
    display: block;
}

.drop-down__list a:hover {
    color: #2aacc8;
}

.drop-down__list li+li a {
    border-top: 1px solid #e7e7e7;
}

.header__drop-down .drop-down__list li {
    margin-left: 0;
    display: block;
}

.header__drop-down {
    position: relative;
}

.header__drop-down.drop-down {
    margin-left: 39px;
}

.header__drop-down.drop-down+.header__drop-down.drop-down {
    margin-left: 12px;
}

.header__drop-down.drop-down+.header__link-blog {
    margin-left: 20px;
}

.header__drop-down>a {
    position: relative;
    padding: 9px 26px 13px 11px;
    border-top: 5px solid transparent;
}

.header__drop-down>a:after {
    content: '';
    position: absolute;
    background-image: url('../images/icon/down-arrow.png');
    background-repeat: no-repeat;
    width: 7px;
    height: 5px;
    right: 8px;
    top: 15px;
}

.header__drop-down.drop-down:hover .drop-down__list {
    display: block;
}

.header__drop-down.drop-down:hover>a {
    color: #2aacc8;
    background-color: #fff;
    border-top: 5px solid #2aacc8;
    transition: all .3s;
}


.slider {
    background-color: #81e4ed;
    padding: 20px 0 10px;
}

.slider__item {
    background-image: url(../images/slider-bg.jpg);
    min-height: 440px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 12px;
    z-index: 5;
}

.slider__item-title {
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    width: 300px;
    margin-left: 60px;
    padding-top: 90px;
    line-height: 55px;
}


.slick-dots li button {
    width: 14px;
    height: 14px;
    background-color: #626262;
    opacity: 0.502;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background-color: #fff;
    opacity: 1;
}

.slick-dots li {
    margin: 0 9px;
    width: auto;
    height: auto;
}

.slick-dots li button:before {
    display: none;
}

.items {
    background-color: #e8ebf1;
    padding: 60px 0 50px;
    border-bottom: 1px solid #d9d9d9;
}

.items__inner {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 225px;
    font-family: 'Arial', sans-serif;
}

.item__title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0 0 60px;
    margin-bottom: 30px;
    position: relative;
}

.item__icons {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #2aacc8;
    border-radius: 50%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telegram-icons {
    margin-left: 9px;
}

.item__text {
    color: #363636;
    font-size: 13px;
    margin-bottom: 25px;
}
.item__link {
    margin-left: 15px;
    font-size: 13px;
    color: #2aacc8;
    position: relative;
}
.item__link:before {
    content: '';
    position: absolute;
    background-image: url(../images/icon/link-arrow.png);
    left: -15px;
    top: 5px;
    width: 5px;
    height: 7px;
}

@media screen and (max-width: 1400px) {}